%html
  %head
    %title Stairway or Bohemian
    %link(rel="stylesheet" type="text/css" href="styles")
  %body
    #wrapper
      = yield
    #footer
      An indescribably valuable survey of the human race brought to you by
      %a(href="http://hashrocket.com") HASHROCKET