#results 
  %h1
    Thank you for your vote
  %h2
    Here are the results so far
  #graph
    .result
      %span(style="height: 50%")
        45066
      Stairway
    .result
      %span(style="height: 80%")
        55033
      Bohemian
  %p
    Thank you for participating in this essential study.
  %p
    Soon, so very soon, the great question will be answered once and for all.