#ie
  %h1
    Dear Sir or Madam,
  %p
    As we detect that you are using Internet Explorer, 
    your judgment is in question
    AND YOU DO NOT GET TO VOTE
  %p
    %a(href="#") Click here to download a proper Internet Browser