%html
  %head
    %title Stairway or Bohemian
    = stylesheet_link_tag 'styles'
    = javascript_include_tag 'jquery-1.4.2.min', 'rails'
  %body
    #wrapper= yield
    #footer
      An indescribably valuable survey of the human race brought to you by Cameron and Paul
