%html
  %head
    %title Stairway or Bohemian
    = stylesheet_link_tag 'styles'
  %body
    #wrapper= yield
    #footer
      An indescribably valuable survey of the human race brought to you by Cameron and Paul
